---
//import AvatarList from './AvatarList.astro';
type Props = {
	path: string;
};
const { path } = Astro.props as Props;
---

<footer>
	<span>Made with ❤️ by @rafagarcia & <a href="https://astro.build/">Astro</a></span>
	<span><a href="https://github.com/rafagarcia/jspills" target="_blank">Github repo</a></span>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 1rem;
		border-top: 1px solid var(--theme-divider);
		text-align: center;
	}

	span {
		display: block;
		width: 100%;
	}
</style>
